@charset "utf-8";

@import url('https://fonts.googleapis.com/css2? family= Bebas+Neue & family= Raleway:ital,wght@1,300 & family= Titillium+Web:ital@1 & family= Ubuntu: wght@500 & display=trocar');

@import url('https://fonts.googleapis.com/css2? family= Courgette & display=swap');







/*Zerando todos elementos*/
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --fonte1: Verdana, Geneva, Tahoma, sans-serif; 
    --fonte2: família de fontes: 'Bebas Neue', cursiva;
    --fonte3: font-family: 'Courgette', cursiva;


}

/*Formatação do corpo do site*/
html, body {

    font-family: var(--fonte1);
    min-height: 100vh;/*tamanho minino de 100% da view port height*/
    background-color: darkgray;

}

/*Formatação do cabeçalho do site*/
header {
    background-color: black;
    color: white;
    text-align: center;
}

header > h1 {

    font-family: var(--fonte2);
    padding-top: 50px;
    font-variant: small-caps;
    padding-top: 50px;
    font-size: 5vw;

}

header > p {
    padding-bottom: 50px;
}

header a, footer a {
    color: white;
    text-decoration: underline;
    font-weight: bolder;
}

header a :hover, footer a:hover {
    text-decoration: underline;
}
/*Para efeito paralax*/
section {
    /*view port height*/
    font-family: var(--fonte3);
    padding-top: 10vh; 
    padding-bottom: 10vh;
    line-height: 2em;
    padding-left: 30px;
    font-size: 3vw;
}

/*Formatação da secção do site*/
section.normal {
    background-color: white;
    color: black;
}

section.imagem {
    background-color: rgb(85, 84, 84);
    color: white;
    padding: 5px;
}

/* caixa preta dentro da section*/
section.imagem > p {
    background-color: rgb(55, 53, 53);
    display: inline-block;
}

/*Formatação do titulo do site site*/
h1 {}

/*Formatação do paragrafo do site*/
p {}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
}